@import "~@fortawesome/fontawesome-free/css/fontawesome";
@import "~@fortawesome/fontawesome-free/css/solid";
@import "~@fortawesome/fontawesome-free/css/brands";

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    /*background-image: url("/images/hiperprecios/diamond-upholstery.png");
    background-repeat: repeat;
    background-position: top center;
    background-blend-mode: multiply;*/
}
